.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0; /* Убираем margin-top и добавляем margin с обоих сторон */
  padding: 0;
  list-style: none; /* Убираем маркеры списка */
}

.paginationItem {
  margin: 0 0.5rem;
}

.paginationLink {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 4px;
}

.paginationLink:hover {
  background-color: #f0f0f0;
}

.paginationLink.active {
  background-color: #f0f0f0;
  color: black;
}

/* Добавленные стили для корректного отображения цифр страниц */
.paginationLink {
  min-width: 2.5rem;  /* Минимальная ширина для цифр */
  text-align: center; /* Выравнивание по центру */
  line-height: 1.5;   /* Обеспечивает правильное отображение цифр */
}
